<p>lecture works!</p>
{{name}}
<img [src]="urlImg" width="100" height="100" />
<button (click)="onchange()">change</button>
<input type="number" value="{{num}}" [(ngModel)]="num" />
{{num}}

<div [ngSwitch]="color">
  <p *ngSwitchCase="'pink'">color is pink</p>
  <p *ngSwitchCase="'green'">color is red </p>
  <p *ngSwitchCase="'blue'">color is blue</p>
  <p *ngSwitchDefault>...</p>





</div>
<h2 [ngStyle]='{"background-color":userObj.color}'>{{userObj.name}}</h2>


<h2 [ngStyle]='{"color":"red"}'>orange coding academy</h2>
<p *ngIf="display == true">Hello World </p>
<!--<h2 [ngStyle]='{"color":"red"}'>orange coding academy</h2>-->


<div *ngFor="let item of usersArray" [ngClass]="{ 'greenColor' :   item.grade > 15 , 'redColor' : item.grade <= 15 }">

  <p>{{item.name}}</p>
  <p>{{item.grade}}</p>

  <p>{{item.food}}</p>

</div>




<h1>{{200|currency}}</h1>

<h1>{{ currentDate | date }}</h1>
<p *ngFor="let i of collection | slice:0:2
   ">{{i}}</p>
<p>{{50 | currency:'JOD ':'symbol'}}</p>
