<div class="row">
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="{{SubServicesDetailsArray.subServiceImage}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{SubServicesDetailsArray.subServiceName}}</h5>
        <p class="card-text">{{SubServicesDetailsArray.subServiceDescription}}</p>
        <a routerLink="/subscription" (click)="goToSubscription(SubServicesDetailsArray.subServiceId)" class="btn btn-primary">subscripe</a>
      </div>
    </div>
  </div>
</div>
